/*
	@name: Proyecto Web
	@author: Hector Rincon
	@version: 1.0
*/

@charset "utf-8";

*, ::after, ::before {
	box-sizing: border-box;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}
a {
	display: block;
}
img {
	display: block;
	max-width: 100%;
}
p, label, .text {
	color: #7D7D7D;
}
fieldset {
	border: 0 none;
	padding: 0;
	margin: 0;
}
form label {
	display: block;
	margin-bottom: 5px;
}
form input {
	width: 100%;
	display: block;
}
input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	font-size: 14px;
}


/* Utils
----------------------------------------------------------------------------- */
.vh100 {height: 100vh; }
.p-0 {padding: 0 !important; }
.f300 {font-weight: 300 !important;}

/* General styles
----------------------------------------------------------------------------- */
.btn {
	border: 0 none;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	height: 50px;
	transition: all 300ms;
}
.btn.border {
	background-color: #fff;
	border: 2px solid #aaa;
}
.btn.border.primary {
	border-color: #3EB9DF;
}
.btn.border:focus,
.btn.border:active,
.btn.border:hover {
	background-color: #3EB9DF;
	color: #fff;
}
.form-control {
	margin-bottom: 20px;
}

/* Colors
----------------------------------------------------------------------------- */
.primary {
	color: #3EB9DF;
}
.lgray {
	color: #C0C0C0;
}
.medgray {
	color: #929292;
}
.primary-bg {
	background-color: #3EB9DF;
}
.gradient.gradient-primary {
	background: rgb(54,168,203);
	background: linear-gradient(90deg, rgb(62,185,223) 27%, rgb(31,191,233) 100%);
}
/* 1. Home
----------------------------------------------------------------------------- */
.Homepage .gradient.left {
	background: linear-gradient(45deg, rgba(54,168,203,1) 37%, rgba(62,207,223,1) 100%);
}
.HomeContentSection {
	padding: 7% 13%;
	margin-bottom: 8%;
}
.HomeContentSection .legend {
	margin: 60px 0;
}
.HomeContentSection .legend .lgray {
	font-size: 1.2rem;
	margin-bottom: 0;
}
.HomeContentSection .legend .medgray {
	font-size: 2.2rem;
	margin-top: 0;
}

/* ----   1.1 Register Form */
.registerForm input {
	font-size: 16px;
	height: 45px;
}
.registerForm label{
	margin-bottom: 10px;
	font-size: 14px;
}
.registerForm .textinput {
	font-size: 14px;
}
.registerForm .submit {
	margin-top: 40px;
}
.registerForm legend {
	margin-bottom: 30px;
}
.registerForm legend strong {
	font-weight: 700;
	font-size: 20px;
}
.loginForm .submit {
	height: 40px;
	font-size: 14px;
}

