<IfModule mod_rewrite.c>
	Options -MultiViews
    RewriteEngine on
    RewriteBase /thunder/

    RewriteRule ^css/(.*) public/css/$1 [L]
    RewriteRule ^js/(.*) public/js/$1 [L]
    RewriteRule ^img/(.*) public/img/$1 [L]

    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule . index.php [L]
</IfModule>
