/*
	@name: Proyecto Web
	@author: Hector Rincon
	@version: 1.0
*/

@charset "utf-8";

*, ::after, ::before {
	box-sizing: border-box;
}
body {
	font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol;
}
h1, h2, h3, h4, h5, h6, strong {
	font-weight: 600;
}
a {
	color: #3EB9DF;
	text-decoration-style: dotted;
}
img {
	display: block;
	max-width: 100%;
}
p, label, .text {
	color: #7D7D7D;
}
fieldset {
	border: 0 none;
	padding: 0;
	margin: 0;
}
form label {
	display: block;
	margin-bottom: 5px;
}
form input {
	width: 100%;
	display: block;
}
input[type="search"],
input[type="text"],
input[type="email"],
input[type="password"] {
	border: 1px solid #ccc;
	border-radius: 30px;
	padding: 0 15px;
	width: 100%;
	height: 40px;
	font-size: 14px;
}
ul,ol {
	margin: 0;
	padding: 0;
}
ol {
	list-style: none;
}

/* Utils
----------------------------------------------------------------------------- */
.vh100 {height: 100vh; }
.p-0 {padding: 0 !important; }
.m-0 {margin: 0 !important; }
.f300 {font-weight: 300 !important;}
.d-none{display: none;}
.fleft{float: left;}
.fright{ploat: right;}
/* Nicholas Gallagher's clearfix:; */
/**
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    contenteditable attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that are clearfixed.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}


/* General styles
----------------------------------------------------------------------------- */
ul.inline li {
	display: inline-block;
}
.img-bg {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center top;
}
.btn {
	border: 0 none;
	border-radius: 30px;
	color: #fff;
	cursor: pointer;
	font-weight: 700;
	height: 50px;
	transition: all 300ms;
}
a.btn {
	display: block;
	text-align: center;
	text-decoration: none;
}
.btn.border {
	background-color: #fff;
	border: 2px solid #aaa;
}
.btn.border.primary {
	border-color: #3EB9DF;
}
.btn.border:focus,
.btn.border:active,
.btn.border:hover {
	background-color: #3EB9DF;
	color: #fff;
}
.form-control {margin-bottom: 20px; }
.tac{text-align: center;}

/* Icons
----------------------------------------------------------------------------- */
.Icon {
	background-repeat: no-repeat;
	display: inline-block;
}
.Icon.Icon--retweet {
	background-image: url(../img/retweet.svg);
}
.Icon.Icon--like {
	background-image: url(../img/heart.svg);
}

/* Colors
----------------------------------------------------------------------------- */
.primary {
	color: #3EB9DF;
}
.lgray {
	color: #C0C0C0;
}
.medgray {
	color: #929292;
}
.darkgray {
	color: #545454;
}
.primary-bg {
	background-color: #3EB9DF;
}
.gradient.gradient-primary {
	background: rgb(54,168,203);
	/*background: linear-gradient(90deg, rgb(62,185,223) 27%, rgb(31,191,233) 100%);*/
	background: linear-gradient(90deg, rgb(31,191,233) 27%, rgb(48,174,213) 100%);
}
/* 0. Header
----------------------------------------------------------------------------- */
.header {
	height: 60px;
}
.header .row,
.header .col,
.header .d-flex,
.header .container-fluid {
	height: 100%;
}
a.logo {
	background-color: #36A8CB;
	height: 100%;
	width: 110px;
	display: block;
}
.mainNav {
	margin-left: 40px;
}
.mainNav, .mainNav ul {
	height: 100%;
	list-style: none;
}
.mainNav li {
	margin-right: 40px;
}
.mainNav li a {
	font-weight: 600;
	text-decoration: none;
	color: #727272;
}
.header .rightNav {
	/*padding-top: 8px;*/
	padding-right: 8%;
}
.header .searchForm input {
	min-width: 280px;
}
.header .logout {
	font-weight: 600;
	text-decoration: none;
}
.mr-5 {
	margin-right: 40px;
}

/* 1. Home
----------------------------------------------------------------------------- */
.Homepage .gradient.left {
	background: linear-gradient(45deg, rgba(54,168,203,1) 37%, rgba(62,207,223,1) 100%);
}
.HomeContentSection {
	padding: 7% 13%;
	margin-bottom: 8%;
}
.HomeContentSection .legend {
	margin: 60px 0;
}
.HomeContentSection .legend .lgray {
	font-size: 1.2rem;
	margin-bottom: 0;
}
.HomeContentSection .legend .medgray {
	font-size: 2.2rem;
	margin-top: 0;
}
/* ----   1.1 Register Form */
.registerForm input {
	font-size: 16px;
	height: 45px;
}
.registerForm label{
	margin-bottom: 10px;
	font-size: 14px;
}
.registerForm .textinput {
	font-size: 14px;
}
.registerForm .submit {
	margin-top: 40px;
}
.registerForm legend {
	margin-bottom: 30px;
}
.registerForm legend strong {
	font-weight: 700;
	font-size: 20px;
}
.loginForm .submit {
	height: 40px;
	font-size: 14px;
}

/* 2. My Feed
----------------------------------------------------------------------------- */
.Feed .bgimg {
	width: 100%;
	display: block;
	height: 350px;
}

/* 2.1 Profile Sidebar
----------------------------------------------------- */
.Profile-Sidebar a {
	text-decoration: none;
}
.Profile-Sidebar a:hover {
	text-decoration: underline;
}
.ProfileCanopy-avatar {
	position: absolute;
	top: -87px;
	left: 10px;
}
.ProfileAvatar {
	background: #fff;
	border: 8px solid #fff;
	border-radius: 50%;
	position: relative;
	width: 250px;
	height: 250px;
}
.ProfileAvatar a {
	display: block;
}
.ProfileAvatar .ProfileAvatar-image {
	-moz-force-broken-image-icon: 1;
	border-radius: 50%;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}
.Profile-HeaderCard .Profile-handle {
	font-size: 16px;
}
.Profile-HeaderCard .Profile-datejoin {
	margin-top: 30px;
}
.Profile-HeaderCard .Profile-name {
	font-size: 24px;
}

.Feed-Content {
	margin-top: 4%;
}
/* 2.2 Profile Stats
----------------------------------------------------- */
.ProfileStats .actionBtn {
	font-size: 14px;
	line-height: 2.5rem;
	margin-left: 40px;
	width: 120px;
	height: 40px;
}
.ProfileStats .ProfileStats-value {
	font-size: 20px;
}
.ProfileStats .ProfileStats-label {
	font-size: 15px;
}
a.ProfileStats-stat {
	display: block;
	text-decoration: none;
}
a.ProfileStats-stat > span {
	display: block;
}
.ProfileStats p,
a.ProfileStats-stat > span {
	margin: 10px 0;
}

.ProfileStats-list .ProfileStats-item {
	margin: 0 18px;
}
.ProfileStats-list .ProfileStats-item:first-child {
	margin-left: 0;
}
.ProfileStats-stat.active.active {
	color: #3EB9DF;
}
.ProfileStats-stat:focus,
.ProfileStats-stat:active,
.ProfileStats-stat:hover {
	text-decoration: underline;
}

/* 2.3 Tweet Stream
----------------------------------------------------- */
.StreamContainer {
	margin-right: 10%;
	margin-bottom: 15%;
}
.tweet {
	min-height: 50px;
	border-bottom: 1px solid #e6ecf0;
	cursor: pointer;
	padding: 18px 12px 20px;
	transition: background 200ms;
}
.tweet:hover {
	background-color: #f6f6f6;
}
.tweet > .context {
	margin-left: 62px;
}
.tweet-context {
	font-size: 12px;
	margin-bottom: 8px;
	margin-left: -35px;
}
.tweet .content {
	margin-left: 62px;
}
.tweet-context .Icon {
	margin-right: 10px;
	position: relative;
	top: 6px;
}
.tweet-context  .Icon.Icon--retweet {
	background-size: 22px;
	width: 22px;
	height: 22px;
}
.tweet-header .accountlinks-header {
	margin-right: 5px;
	text-decoration: none;
}
.tweet-header .accountlinks-header:hover span.fullName {
	text-decoration: underline;
}
.tweet-header span.fullName {
	color: #444;
}
.tweet-header span.handle {
	margin-left: 15px;
}
.tweet-header .avatar {
	border-radius: 50%;
	float: left;
	height: 50px;
	margin-left: -62px;
	margin-top: 3px;
	position: absolute;
	width: 50px;
	-moz-force-broken-image-icon: 1;
}
.tweet .tweet-content p{
	margin-top: 10px;
	font-size: 15px;
}
.tweet-footer {
	display: table;
}
.Tweet-actionList {
	height: 18px;
	margin-top: 8px;
}
.Tweet-action:hover,
.Tweet-action:active,
.Tweet-action:focus {
	color: #3EB9DF;
}
.Tweet-action:active,
.Tweet-action:focus {
	outline: 1;
}
.Tweet-action {
	color: #7D7D7D;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	min-width: 80px;
	text-decoration: none;
	margin-right: 15px;
}
.Tweet-action .Icon {
	background-size: 28px;
	width: 28px;
	height: 28px;
	vertical-align: middle;
	margin-right: 5px;
}
.Tweet-action .Icon.Icon--like {
	background-size: 24px;
	margin-right: 0;
}


/* 3. News Feed
----------------------------------------------------------------------------- */
.container.Newsfeed-container {
	margin-top: 40px;
	margin-bottom: 10%;
}

/* 3.1 Profile Card
----------------------------------------------------- */
.ProfileCard {
	box-shadow: 0 5px 12px rgba(0,0,0,0.1);
}
.ProfileCard-bg {
	height: 160px;
	display: block;
}

.ProfileCard-content {
	padding: 15px 22px;
}
.ProfileCard .ProfileCanopy-avatar {
	top: 120px;
	left: 30px;
}
.ProfileCard .ProfileAvatar {
	width: 100px;
	height: 100px;
	border-width: 4px;
}
.ProfileCard-userFields a {
	color: #7D7D7D;
	text-decoration: none;
}
.ProfileCard-userFields a:hover {
	text-decoration: underline;
}
.ProfileCard-userFields {
	margin-left: 110px;
	margin-bottom: 20px;
}
.ProfileCard-userFields .profileName {
	font-size: 18px;
}
.ProfileCard-userFields .handle {
	font-size: 14px;
	color: #C0C0C0;
}
.ProfileCard .ProfileStats-item {
	margin: 0 14px;
}
.ProfileCard .ProfileStats-item .ProfileStats-label {
	font-size: 12px;
}


/* 3.2 Stream Composer
----------------------------------------------------- */
.Newsfeed .stream  {
	margin-left: 5%;
}
.StreamComposer {
	background-color: rgba(63, 187, 224, .1);
	padding: 25px 15px;
}
.StreamComposer .avatarLink {
	display: block;
	width: 50px;
	height: 50px;
}
.StreamComposer .avatarLink .avatarImg {
	border-radius: 50%;
	width: 50px;
	height: 50px;
	-moz-force-broken-image-icon: 1;
}
.StreamComposer textarea {
	width: 100%;
	resize: none;
	height: 56px;
	border: 1px solid rgba(51, 187, 221, .5);
	border-radius: 5px;
	padding: 10px;
}
.StreamComposer textarea::placeholder {
    color: 	#80d2eb;
    opacity: 1; /* Firefox */
}

.StreamComposer textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #80d2eb;
}

.StreamComposer textarea::-ms-input-placeholder {
	color: #80d2eb;
}

